<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        {% load static %}

    <title>500 - Arcane Catastrophe</title>
    <link rel="stylesheet" href="{% static 'css/500.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/LU.png' %}">


</head>
<body>
    <div class="container">
        <h1>500</h1>
        <p>By the Seven Gods, an Arcane Catastrophe!</p>
        <p>The mystic energies have destabilized our sacred archives.</p>
	{% if user.is_authenticated and user.username %}
    	<a href="{% url 'dashboard' username=user.username %}" class="btn">Cast Return Spell</a>
	{% else %}
    	<a href="{% url 'home' %}" class="btn">Return to Safety</a>
	{% endif %}
    </div>
</body>
</html>
