{% extends 'base.html' %}

{% block title %}
    Character Card
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/character.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="username" content="{{ user.username }}">
    <div class="main" data-page="character">
        <div class="navagation">
            <button id="spellButton" class="navButton">Spell Book</button>
            <button id="skillsButton" class="navButton">Skills</button>
            <button id="backpackButton" class="navButton">Backpack</button>
            <button id="weaponsButton" class="navButton">Weapons</button>
            <button id="armorsButton" class="navButton">Armors</button>
            <a href="{% url 'characterTalk' username=user.username %}" class="navButton talkButton">Inner self</a>
            <button class="navButton">Gold: {{ character.gold }}</button>

        </div>
        <div class="grid">
            <div class="gridItem pfpPic">
                <a href="{% url 'characterTalk' username=user.username %}">
                    <img src="{{user.profile_picture.url}}" alt="Avatar" class="avatar" />
                </a>
            </div>

            <!-- Content Sections -->
            <div class="gridItem">
                <div id="spellbook" class="content-section">
                      <h2>Spellbook</h2>
                      <ul>
                        {% if spellBook %}
                            {% for spell in spellBook %}
                                <li data-description="{{ spell.description|escape }}">{{ spell.name }}</li>
                            {% endfor %}
                        {% else %}
                            <li>You have no spells</li>
                        {% endif %}
                      </ul>
                    </div>

                <div id="skills" class="content-section">
                  <h2>Skills</h2>
                  <ul>
                      {% if not skillSet %}
                      <li>You have no skills</li>
                      {% else %}
                      {% for i in skillSet %}
                    <li data-description="{{ i.description|escape }}">{{ i.name }}</li>
                      {% endfor %}
                      {% endif %}

                  </ul>
                </div>

                <div id="backpack" class="content-section">
                  <h2>Backpack</h2>
                  <ul class="itemList">
                      {% for i in backpack %}
                    <li data-description="{{ i.description|escape }}">{{ i.name}}: {{ i.quantity }}</li>
                      {% endfor %}
                  </ul>
                </div>

                <div id="weapons" class="content-section">
                  <h2>Weapons</h2>
                  <ul class="itemList">
                    {% for i in weapons %}
                      <li style="display: flex; justify-content: space-between; align-items: center;">
                        <span>{{ i.name }}</span>
                        <div style="display: flex; gap: 0.5rem;">
                          <button class="equipItem" id="{{ i.name }}">Equip</button>
                          <button class="details" data-description="{{ i.description|escape }}">Details</button>
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                </div>

                <div id="armors" class="content-section">
                  <h2>Armors</h2>
                  <ul class="itemList">
                    {% for i in armors %}
                      <li style="display: flex; justify-content: space-between; align-items: center;">
                              {{ i.name }}
                              <div style="display: flex; gap: 0.5rem;">
                                <button class="equipItem" id="{{ i.name }}">Equip</button>
                                <button data-description="{{ i.description|escape }}" class="details">Details</button>
                              </div>
                          </li>
                    {% endfor %}
                  </ul>
                </div>

            </div>

        </div>
    </div>

    <script src="{% static 'js/character.js' %}"></script>


{% endblock %}
