{% extends 'base.html' %}

{% block title %}
    Character Card
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/character.css' %}">

    <div class="main">
        <div class="navagation">
            <button id="spellButton" class="navButton">Spell Book</button>
            <button id="skillsButton" class="navButton">Skills</button>
            <button id="backpackButton" class="navButton">Backpack</button>
        </div>
        <div class="grid">
            <div class="gridItem">
                <img src="{{user.profile_picture.url}}" alt="Avatar" class="avatar" />
            </div>

            <!-- Content Sections -->
            <div class="gridItem">
                <div id="spellbook" class="content-section">
                      <h2>Spellbook</h2>
                      <ul>
                          {% if not spellBook %}
                          <li>You have no spells</li>
                          {% else %}
                          {% for i in spellBook %}
                          <li>{{ i.name }}</li>
                          {% endfor %}
                          {% endif %}
                      </ul>
                    </div>

                <div id="skills" class="content-section">
                  <h2>Skills</h2>
                  <ul>
                      {% if not skillSet %}
                      <li>You have no skills</li>
                      {% else %}
                      {% for i in skillSet %}
                    <li>{{ i.name }}</li>
                      {% endfor %}
                      {% endif %}

                  </ul>
                </div>

                <div id="backpack" class="content-section">
                  <h2>Backpack</h2>
                  <ul class="itemList">
                      {% for i in backpack %}
                    <li>{{ i.name}}: {{ i.quantity }}</li>
                      {% endfor %}
                  </ul>
                </div>

            </div>

        </div>
    </div>

    <script src="{% static 'js/character.js' %}"></script>


{% endblock %}
