<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}

    <link rel="stylesheet" href="{% static 'css/deadView.css' %}">

    <title>You have fallen</title>
</head>
<body>
    <div class="container">
        <h1>YOU HAVE FALLEN</h1>
        <p class="message fade-out">Your journey ends here... or does it?</p>
        <button class="button">Begin Anew</button>
    </div>
</body>
</html>