{% extends 'base.html' %}

{% block title %}
    Guild Hall
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/guild.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="username" content="{{ user.username }}">
  
  <div class="container1" data-page="guildHall">
    <div>
      <section class="quest-board" id="quest-board">
        <h2>Quest Board</h2>
        <div class="tabs">
          <div class="tab active" data-type="kill">Kill</div>
          <div class="tab" data-type="capture">Capture</div>
          <div class="tab" data-type="adventure">Adventure</div>
          <div class="tab" data-type="other">Other</div>
        </div>
        <ul class="quest-list" id="questList">
          {% for i in questBoard %}
          {% if i.questType == 'Kill' %}
          <li id="" data-type="kill">
            <span>{{ i.questName }} ({{ i.questType }}) - Difficulty: {{ i.Difficulty }}</span>
            <button id="{{ i.questName }}" class="actionButton">Start Quest</button>
          </li>
          {% endif %}
          {% if i.questType == 'Adventure' %}
          <li data-type="adventure" >
            <span>{{ i.questName }} ({{ i.questType }}) - Difficulty: {{ i.Difficulty }}</span>
            <button id="{{ i.questName }}" class="actionButton">Start Quest</button>
          </li>
          {% endif %}
          {% if i.questType == 'Capture' %}
          <li data-type="capture">
            <span>{{ i.questName }} ({{ i.questType }}) - Difficulty: {{ i.Difficulty }}</span>
            <button id="{{ i.questName }}" class="actionButton">Start Quest</button>
          </li>
          {% endif %}
          {% if i.questType == 'Other' %}
          <li data-type="other" >
            <span>{{ i.questName }} ({{ i.questType }}) - Difficulty: {{ i.Difficulty }}</span>
            <button id="{{ i.questName }}" class="actionButton">Start Quest</button>
          </li>
          {% endif %}

          {% endfor %}
        </ul>
      </section>


      <section class="shop" id="guildMaster">
        <div class="guildMasterSection">
            <img src="{% static 'img/guildMaster.jpeg' %}" alt="Guild Master" class="guildMaster">
            <div class="guildMasterText">
                <p id="masterText">Amanda is talking with a traveller.</p>
            </div>
        </div>
        <div class="sectionOne">
          <div>
              <button id="masterChat" class="GMButton" data-target="talk"><strong>Talk</strong></button>
              <button id="rewardsButton" class="GMButton" data-target="rewards"><strong>Rewards</strong></button>
          </div>

          <div id="talk" class="actionArea">
            <p>What would you like to say?</p>
            <textarea id="messageInput" maxlength="500" placeholder="Enter message here"></textarea>
            <button id="sendButton">Ask Message</button>
          </div>

          <div id="rewards" class="actionArea">


          </div>
        </div>

      </section>
    </div>
    
    <aside class="guild-extra">
      <section class="bulletin" id="bulletin">
        <h2>Bulletin Board</h2>
        <ul>
          {% for i in questBoard %}
          <li class="BBItem">{{ i.bulletinBoardEntry}}</li>
          {% endfor %}
        </ul>
      </section>
      
      <!-- Guild Member Roster & Rankings -->
      <section class="roster" id="members">
        <h2>Member Roster</h2>
        {% for i in npc %}
        <ul>
          {% if i.party == "Ironstead Guild" %}
          <li>{{ i.name }} - {{ i.party }}</li>
          {% else %}
          <li>{{ i.name }} - {{ i.party }} - <button id="{{ i.name }}" class="NPCButton">Talk</button></li>
          {% endif %}
        </ul>
        {% endfor %}
      </section>
      
      <!-- Guild Tavern / Chat -->
      <section class="chat">
        <h2>Guild Member Chat</h2>
        <div class="chat-area" id="chatArea">
        </div>
        <input type="text" class="chat-input" id="memberChatText" placeholder="Type a message...">
        <button class="memberTalk" id="memberChat">Talk</button>
      </section>
    </aside>
  </div>
    <script src="{% static 'js/guild.js' %}"></script>

{% endblock %}
