{% extends 'base.html' %}

{% block title %}
    Settings
{% endblock %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/settings.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="username" content="{{ user.username }}">


    <div class="MainDiv">
        <h2>User preferences</h2>

        <form method="POST" class="formMain" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="gridMain">
                <div class="gridFlex">
                    <h2>Change Profile Picture</h2>
                    {{ form.profile_pic }}
                </div>
                <!--
                <div class="gridFlex">
                    <h2>Change character avatar</h2>
                    <p class="thankText">This is where you can update your in-game character, types accepted(.png, .jpeg)</p>
                    {{ form.user_avatar }}
                </div>
                -->
                <div class="gridFlex">
                    <h2>Daily number of quests</h2>
                    <p>Current Number of Quests: {{user.base_number_of_quests}}</p>
                    {{ form.number_of_quests }}
                </div>
                <div class="gridFlex">
                    <h2>Report a Bug</h2>
                    <p class="thankText">Help me improve by reporting any issues you encounter. Before reporting, you might want
                        to check our <a href="{% url 'bugs' %}" class="links">known issues page</a>.</p>
                    {{ form.problem_report }}
                    <div class="thankText">Thank you for reporting the bug. I will review your report and may contact you for more information.</div>
                </div>
                <div class="gridFlex">
                    <h2>Improvements</h2>
                    <p class="thankText">Please provide constructive feedback to help me enhance my work.
                        Highlight what you appreciate and suggest specific additions or improvements to make LevelUp more fun and engaging!</p>
                    {{ form.improvements }}
                </div>
            </div>
            <button class="submitButton" type="submit">Submit</button>

        </form>
    </div>




{% endblock %}