html, body{
    height: 100%;
    background-color: black;

}


body {
     margin: 0;
     font-family: 'Roboto', sans-serif;
     color: white;
     background: linear-gradient(to bottom, #1a1a2e, #16213e);
     overflow-x: hidden;

}
.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90%;
}

.form-toggle {
  margin-bottom: 20px;
  margin-top: 3vh;
}

.btn-toggle {
  background-color: transparent;
  border: 2px solid #007bff;
  border-radius: 5px;
  color: #007bff;
  padding: 12px 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 10px;
}

.btn-toggle:hover {
  background-color: #007bff;
  color: white;
}

.btn-toggle.active {
  background-color: #007bff;
  color: white;
}

.form-container {
  background-color: lightBlue;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
}
form{
    margin-bottom: 4px;
}


.form-container.active {
  display: block;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.8em;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  font-size: 1em;
  color: #333;
}

.input-group input {
  width: 88%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s ease;
}

.input-group input:focus {
  border-color: #007bff;
}

.btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

p {
  font-size: 1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pointer{
    cursor: pointer;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;

}
.passwordDiv {
    position: relative;
}

li{
    color: black;
    width: 18vw;
}
